html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font-family: var(--std-font-family);
  font-size: 14px;
  background-color: var(--clr-gray);
}

.app-container {
  display: flex;
  column-gap: var(--offset-xl);
  width: var(--app-container);
  max-width: 100%;
  min-height: 100dvh;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--clr-light);
}

.app-body {
  padding-top: var(--offset-top);
  width: 100%;
  height: 1000px;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link-reset {
  text-decoration: none;
  color: inherit;
}

.btn-reset {
  padding: 0;
  border: 0;
  outline: none;
  background-color: transparent;
}

button:not(disabled) {
  cursor: pointer;
}

a:not([href]) {
  cursor: auto;
}