html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-size: 14px;
  font-family: var(--std-font-family);
  background-color: var(--clr-gray);
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
}

a {
  background-color: transparent;
}

button:not(:disabled) {
  cursor: pointer;
}

a:not([href]) {
  cursor: auto;
}

img {
  border-style: none;
}

.app-container {
  display: flex;
  width: var(--app-container);
  max-width: 100%;
  min-height: 100dvh;
  margin-right: auto;
  margin-left: auto;
  background-color: var(--clr-light);
}

.app-body {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  width: 100%;
  min-height: 1000px;
  padding: var(--offset-top) var(--offset-xl);
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link-reset {
  color: inherit;
  text-decoration: none;
}

.btn-reset {
  padding: 0;
  background-color: transparent;
  border: 0;
  outline: none;
}

.link {
  color: var(--clr-primary);
  transition: opacity 0.3s ease-in-out;
}

.clr-gray {
  color: var(--clr-gray);
}

.clr-primary {
  color: var(--clr-primary);
}

.txt-bold {
  font-weight: 600;
}


@media (width >= 1200px) {
  .link:hover {
    opacity: 0.8;
  }
}