:root {
  --std-font-family: "Roboto";
  --app-container: 1350px;
  --offset-xl: 36px;
  --offset-top: 40px;
  --clr-light: #FFF;
  --clr-gray: #8E8E8E;
  --clr-gray-xs: #dbdbdb;
  --clr-gray-md: #EFEFEF;
  --clr-dark: #262626;
  --clr-primary: #0095F6;
  --std-border-radius: 8px;
  
}