.block {
  width: 550px;
  margin: 40px auto;
  padding: 25px;
  font-size: 30px;
  text-align: center;
  background-color: #fff;
}

.link {
  display: inline-block;
  margin-top: 20px;
  color: red;
  font-size: 40px;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.link:hover {
  color: green;
}