$width-lg: 244px;

.aside {
  position: sticky;
  top: 0;
  flex: none;
  width: $width-lg;
  height: 100dvh;
  padding: var(--offset-top) 25px 32px;
  overflow: auto;
  border-right: 1px solid var(--clr-gray-xs);

  &__inner {
    display: flex;
    flex-direction: column;
    row-gap: 35px;
  }
}

.list {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.item {
  display: flex;
  padding: 12px 14px;
  font-size: 15px;
  line-height: 24px;
  column-gap: 20px;
  transition: opacity 0.3s ease-in-out;

  &--active {
    font-weight: 700;
    font-size: 16px;

    & > svg {
      fill: var(--clr-dark);
    }
  }
}

@media (width >= 1200px) {
  .item:hover {
    opacity: 0.8;
  }
}

