.label {
  position: relative;
  cursor: pointer;
}

.text{
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 16px;
  column-gap: 8px;

  &::before {
    flex: none;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-position: 2px 0;
    border: 1px solid var(--clr-gray-xs);
    border-radius: 3px;
    content: "";
  }
}

.input{
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.input:checked + .text::before{
  background-image: url("../../../../assets/checkbox.png");
}